# Install OS instead of upgrade
install
cdrom
# System authorization information
auth --enableshadow --enablemd5
# Use text mode install
text
# Firewall configuration
firewall --disabled
firstboot --disable
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --activate
network  --hostname=localhost.localdomain
# Reboot after installation
reboot
# Root password
rootpw vagrant
# SELinux configuration
selinux --enforcing
# System services
services --enabled="chronyd,NetworkManager,sshd"
# Do not configure the X Window System
skipx
# System timezone
timezone UTC --isUtc
user --name=vagrant --password=vagrant --groups=vagrant,wheel
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
autopart

%packages --instLangs=en --ignoremissing --

@Base
@Core
@Development Tools
openssh-clients
sudo
openssl-devel
yum-utils
readline-devel
zlib-devel
kernel-headers
kernel-devel
net-tools
bash-completion
vim
curl
rsync

%end

%post

## Install sudo and configure it to allow passwordless sudo for the "vagrant" user
# This is important to allow vagrant to install and configure network and other tools
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all

%end